<strong>Olá, {{ student }}</strong>
<p>Parabéns, você se matriculou em nossa academia, segue abaixo os detalhes:</p>
  <strong>Plano: </strong> {{ plan }} <br />
  <strong>Início: </strong> {{ start }} <br />
  <strong>Fim: </strong> {{ end }} <br />
  <strong>Valor: </strong> {{ price }} <br />
  </p>
